@import "./productcard";
.products {
  position: relative;
  margin-top: -150px;
  background-color: $white;
  padding: $p4;

  &__container {
    background-color: $white;

    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2.5rem;
  }
}
