.container {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.section {
  margin-top: 100px;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: $red;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}
