.popular {
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__container {
    margin-top: $m6;
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);

    @include md {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  &__button {
    margin-top: $m8;
    text-align: center;
  }
}
